
.backg-logo{
    height: 120px;
    background-color: #bc0000;
}

.footer{
    height: 100px;
    background-color: #bc0000;
    position: absolute;

    bottom: 0px;
    left: 0px;
    right: 0px;    
    margin-bottom: 0px;
}


.backg-logo h1{
    color: white;
    text-align: right; 
    display: inline;
}
#logo{
    max-width: 100%;
    max-height: 100%;
    display:inline ;
}

.contenido{
    /*border: #3d3d3d solid 5px;*/
    height: 400px;
    max-height: 500px;
}

.formulario{
    width: 45%;
    margin: auto;
    position: relative;
    top: 30%;
    button: 30%;
    padding: 10px;
}

.btn{
    background-color: #3d3d3d;    
}

body{
    background-color: #e1e1e1;
}


.loginform {
    width: 500px;
    margin:0 auto;
    padding: 20px;
}


.bienvenida{
    border: #3d3d3d solid 5px;
    width: 60%;
    margin: auto;
    position: relative;
    top: 30%;
    button: 30%;
    padding: 10px;
}

#mensajeRespuesta{
    width: 50%;
    margin: auto;    
}